# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env

# Virtual environments
venv/
.venv/

# Logs
logs/
*.log

# Models
models/*.pkl

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.pid
docker-data/

# Database
*.db
